/* Estilos para la p치gina principal de las calculadoras matem치ticas con fondo tecnol칩gico en matem치ticas */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background: url('https://wallpapers.com/images/featured/matematicas-zarpq292tmb3whun.jpg') center/cover;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

h1 {
    font-size: 48px;
    margin-bottom: 30px;
}

.calculator-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator-button {
    display: inline-block;
    padding: 15px 30px;
    margin: 20px;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    background: linear-gradient(to right, #30cfd0, #330867);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.calculator-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(197, 23, 255, 0.5);
}
